@import "variables";

#browserStackCnt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;

    img {
        width: 200px;
        margin-top: 5px;
    }
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f8f8f8;
    color: #1a1a1a;
    font-family: 'OpenSans', sans-serif;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    margin: 8px 0;
}

button {
    border-radius: 10px;
    border: 0;
    background-color: #006ad5;
    color: #fff;
    cursor: pointer;
    padding: 15px 25px;
    font-size: 16px;

    &:hover {
        background-color: #0c64bd;
    }
}

.main {
    height: 100%;
    max-width: 500px;
    width: calc(100% - 20px);
    margin: 0 auto;
    padding: 10px;

    display: flex;
    flex-direction: column;
}

.cnt() {
    background-color: #f0f0f0;
    padding: 10px;
}

#welcomePage {
    align-items: center;

    h1 {
        text-align: center;
    }
    
    h2 {
        font-size: 15px;
        margin-top: -23px;
        color: #7e7e7e;
    }

    button {
        font-size: 18px;
        margin-top: 25px;
        padding: 20px 40px;
    }
}

#gameSetupPage {
    h2 {
        text-align: center;
    }

    > div {
        background-color: #f0f0f0;
        padding: 10px;

        > div:first-child {
            font-family: 'Poppins', sans-serif;
            font-size: 16px;
            margin-bottom: 10px;
        }

        #nightsOrderCnt {
            > div {
                background-color: #fff;
                border: 1px solid #aeaeae;
                cursor: pointer;
                padding: 10px;

                &:not(:last-child) {
                    margin-bottom: 8px;
                }
            }
        }
    }

    > button {
        margin-top: 20px;
    }
}

#playersSetupPage {
    > h2 {
        text-align: center;
    }

    > div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 18px;

        > input {
            font-size: 18px;
        }
    }

    > table {
        margin-top: 10px;
        width: 100%;

        input, select {
            width: 100%;
            box-sizing: border-box;
            font-size: 18px;
        }

        td:nth-child(1) {
            text-align: center;
        }
    }

    > button {
        margin-top: 20px;
    }
}

.Mafia {
    border-left: 15px solid #ffb6b6 !important;
}

.Godfather {
    border-left: 15px solid #ff6868 !important;
}

.Policeman {
    border-left: 15px solid #b8ffb6 !important;
}

.Vigilante {
    border-left: 15px solid #88ff40 !important;
}

.Doctor {
    border-left: 15px solid #f9ff9e !important;
}

.Veteran {
    border-left: 15px solid #9ee4ff !important;
}

.Serialkiller {
    border-left: 15px solid #ffce9e !important;
}

.Clown {
    border-left: 15px solid #f29eff !important;
}

.Mayor {
    border-left: 15px solid #d8d8d8 !important;
}

.innocent {
    background: #fff !important;
}

.guilty {
    background-color: #9c1f1f !important;
    color: #f1f1f1;
}

.specialCnt {
    .cnt();
    margin-bottom: 10px;
    text-align: center;
}

.playersStatusCnt {
    .cnt();

    &:not(:last-child) {
        margin-bottom: 10px;
    }

    > h3 {
        margin: 0;
        text-align: center;
        margin-bottom: 10px;
    }

    > h4 {
        text-align: center;
        margin: -14px 0 15px 0;
    }

    > div {
        padding: 15px 8px;
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
        -khtml-user-select: none; /* Konqueror HTML */
        -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
        user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome and Opera */

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    .deleted {
        position: relative;

        &::after, &::before {
            position: absolute;
            content: ' ';
            width: 100%;
            max-width: 500px;
            height: 5px;
            background-color: #f00;
            top: 22px;
            left: 0px;
        }

        &::after {
            transform: rotate(174deg);
        }

        &::before {
            transform: rotate(-174deg);
        }
    }

    .selected {
        border-top: 5px solid #f00 !important;
        border-bottom: 5px solid #f00 !important;
        border-right: 5px solid #f00 !important;
    }
}

#nightPage_day {
    #dayNumber {
        text-align: center;
    }

    #startNightBtn {
        margin-top: 20px;
    }
}

#nightPage_night {
    > h1 {
        text-align: center;
    }

    #veteranStep {
        > #buttonsCnt {
            display: flex;

            > button {
                flex: 1;
                color: #006ad5;
                border: 1px solid #006ad5;
                background-color: #fff;

                &:first-child {
                    margin-right: 5px;
                }

                &:last-child {
                    margin-left: 5px;
                }
            }

            .selected {
                background-color: #006ad5 !important;
                color: #fff !important;
            }
        }
    }

    #buttonsCnt {
        display: flex;
        margin-top: 20px;

        #backState {
            flex: 0.3;
            margin-right: 10px;
            background-color: #e90000;
        }

        #nextState {
            flex: 0.7;
        }
    }
}

@media screen and (max-width: @screen-sm-max) {
    h1 {
        margin-bottom: 10px;
        text-align: center;
    }
    .playersStatusCnt {
        .deleted {
            &::after, &::before {
                // height: 100vw;
                // left: 123px;
                // top: -131px;
            }
        }
        
    }
}

@media screen and (min-width: @screen-md-min) {
    .playersStatusCnt {
        .deleted {
            &::after, &::before {
                // left: 221px;
                // height: 500px;
                // top: -221px;
            }
        }
        
    }
}